/*************************/
/****** General ***********/
/*************************/


* {
    font-family: 'Raleway', sans-serif;
}

/* *{
    outline : 1px solid red!important;
} */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --blue-color: #0065FC;
    --light-blue-color: #DEEBFF;
    --grey-color: #F2F2F2;
}

.fa-solid {
    color: var(--blue-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--grey-color)
}

ul {
    list-style: none;
}




/*************************/
/****** Header ***********/
/*************************/


header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 10vh;
    margin-bottom: 2.5%;
}

.header-container-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
    height: 100%;
}

.header-container-logo img{
    width: 61.09px;
    height: auto;
}

nav {
    width: 75%;
}

nav ul{
    display: flex;
    justify-content: flex-end;
}
nav ul li{
    margin-left:75px;
    padding-top: 15px;
    border-top: 2px solid transparent; /* Ajout d'une bordure transparente pour annuler le décalage*/
}
nav ul li:hover{
    color: var(--blue-color);
    border-top: 2px solid var(--blue-color);
    box-sizing: content-box;
}



/**********************************/
/****** Search & Filter ***********/
/**********************************/

h1 {
    margin: 1% 0;
}

.search-area {
    margin: 2.5% 0;
    display: flex;
    height: 5%;
}

.search-area-left{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--grey-color);
    border : 1px solid var(--grey-color);
    border-radius: 15px 0 0 15px;
    height: 50px;
    width: 50px;
}


.search-area-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17.5%;

    background-color: var(--grey-color);
}
.search-area-center input{
    height: 92%;
    width: 100%;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.search-area-center input:active,
.search-area-center input:focus{
    outline: none;
}


.search-area-right{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--blue-color);
    border : 1px solid var(--blue-color);
    border-radius: 0 15px 15px 0;
    height: 50px;
    width: auto;
    padding: 0 20px;
    
    color: white;
    font-size: 18px;
    font-weight: 700;
}






.filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.filter h2{
    margin-right : 30px;
}


.filter-btn{
    display: flex;
    border: 2px solid #D9D9D9;
    padding: 15px;
    margin: 0 10px;
    border-radius: 100px;
    font-size: 17px;
    font-weight: 700;
}
.filter-btn:hover{
    background-color: var(--light-blue-color);
    cursor: pointer;
}



.filter i {
    color : #0065FC;
    padding-right : 10px;
}





.additional-information{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2.5% 0;
}
.additional-information i{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #D9D9D9;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin-right: 10px;
    padding: 15px;
}


/**********************************************/
/****** Hebergements And Populaires ***********/
/**********************************************/


.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--grey-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/*******************************/
/****** Hebergements ***********/
/*******************************/


.hebergements {
    width: 65%;
}

.hebergements h2{
    margin-bottom: 33px;
}



.hebergements-cards{
    display: flex;
    gap: 2.5%;
    width: 100%;
}

.hebergements-cards a{
    width: 30%;
}
.hebergements-cards .card{
    width: 100%;
}
.hebergements-cards .card img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



.hebergements-cards .card .card-content{
    margin: 5px;
}

.hebergements-cards .card .card-txt h3{
    margin-bottom: 10px;
}

.hebergements-cards .card .card-txt p{
    margin-bottom: 5px;
}





/*****************************/
/****** Populaires ***********/
/*****************************/


.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */
/********************************/
/****** Media queries ***********/
/********************************/



/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}




/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}